{{>header}}
        <!-- Content here -->
        {{{mensaje}}}
        <div>
                <h3>A continuación se presenta la lista de inscriptos a la fecha.</h3>
        </div>
        
        <br>
        {{{tablaCursosInscriptos}}}
{{>footer}}