{{>header}}
        <!-- Content here -->
        {{{mensaje}}}
        A continuación se presenta la lista de cursos creados hasta la fecha
        <div style="margin:15px 0">
                {{{tablaCursos}}}
        </div>
{{>footer}}